<!DOCTYPE html>
<html lang="ru">
  <head>
    <title>Александр Мансуров</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="body<% if cookies['home_theme'] == 'dark' %> body_dark<% end %>">
    <main>
      <header>
        <div class="header__line">
          <%= link_to_unless_current image_tag("sasha.png", :class => "header__logo"), root_path, :class => 'header__link' %>
          <div>
            <h1><%== @title %></h1>
            <p><% if @subtitle %><%== @subtitle %><% else %>&nbsp;<% end %></p>
          </div>
        </div>
        <nav>
          <ul>
            <% if current_user %>
              <li><%= link_to_unless_current 'новый проект', new_project_path %></li>
            <% end %>
          </ul>
        </nav>
      </header>
      <section>
        <%= yield %>
      </section>
    </main>
    <footer>
      <nav>
        <ul>
          <li><a href="http://ghost.mansurov.me/" target="_blank">блог</a></li>
          <li><a href="https://github.com/mnsrv" target="_blank">гитхаб</a></li>
          <li>
            <% if current_user %>
                <%= link_to 'выход', outside_path %>
            <% else %>
                <%= link_to_unless_current 'вход', inside_path, :class => 'link-auth' %>
            <% end %>
          </li>
        </ul>
      </nav>
    </footer>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
